body{
	background-color: #f2f2f2;
}

@media (max-width: 575px) { .card-columns {column-count: 1;}  }

@media (min-width: 576px) and (max-width: 767px) { .card-columns {column-count: 2;}  }

@media (min-width: 768px) and (max-width: 991px) { .card-columns {column-count: 3;}  }

@media (min-width: 992px) and (max-width: 1199px) { .card-columns {column-count: 3;}  }

@media (min-width: 1200px) { .card-columns {column-count: 4;}  }
/*.card-columns {column-count: 4;} */

/**THE SAME CSS IS USED IN ALL 3 DEMOS**/    
/**gallery margins**/  

/**div.gallery{    
margin-left: 3vw;     
margin-right:3vw;  
}    

.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;
cursor: -webkit-zoom-in;
cursor: -ms-zoom-in;
cursor: -moz-zoom-in;
cursor: zoom-in;
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
	zoom:2.5;
-ms-transform: scale(2.5);
	-ms-transform-origin: 0 0;
-moz-transform: scale(2.5);
	-moz-transform-origin: 0 0;
-webkit-transform: scale(2.5);
    -webkit-transform-origin: 0 0;
-o-transform: scale(2.5);
	-o-transform-origin: 0 0;
transform: scale(2.5);
   transform-origin: 0 0;
position:relative;
z-index:100;
}

@media only screen and (max-width: 768px) {   
div.gallery {      
margin-left: 15vw;       
margin-right: 15vw;
}

.DivName {cursor: pointer}
}**/