# this stops download files being gzipped
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]
SetOutputFilter DEFLATE
#SetEnvIfNoCase Request_URI \.php$ no-gzip dont-vary
#SetEnvIf Request_URI download\.php$ no-gzip dont-vary
SetEnvIf Request_URI ^/payment/ no-gzip=1
<FilesMatch \.php$>
    SetEnv no-gzip 1
</FilesMatch>
<FilesMatch \.zip$>
    SetEnv no-gzip 1
</FilesMatch>